/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* add font */
@font-face {
    font-family: fa;
    src: url(./fonts/Dirooz.ttf) format('truetype');
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif , fa;
    user-select: none;
}
.header{
    background-color: orange;
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.header h1{
    color: white;
    margin: 10px;
}
.header input{
    font-family: fa;
    font-size: 20px;
    padding: 2px 25px;
    border: none;
    outline: none;
    background-color: white;
    transition: all .3s;
}
.header input[type = button]:hover{
    background-color: lightgray;
    color: white;
}
.header input[type = button]{
    cursor: pointer;
}
.taskList div{
   position: relative;
   background-color: lightgray;
   padding: 10px 45px;
   font-size: 20px;
   font-family: fa;
   cursor: pointer;
   transition: all .5s;
}
.taskList div:hover{
    background-color: rgb(153, 153, 153);
}
.taskList div:hover .trash{
    display: inline-block;
}
.trash{
    display: none;
    position: absolute;
    right: 20px;
}
.trash:hover i{
    color: red;
}
/* for use in js index */
.done{
    text-decoration: line-through;
    background-color: rgb(153, 153, 153);
    color: white;
}
.done::before{
    content: '';
    width: 9px;
    height: 26px;
    position: absolute;
    left: 20px;
    border: 0 solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}